<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://jcp.org"
         xmlns:xsi="http://w3.org"
         xsi:schemaLocation="http://jcp.org 
                             http://jcp.org/web-app_3_1.xsd"
         id="WebApp_ID" 
         version="3.1">

    <display-name>ProyectoFinal-TiendaOnline</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Carga del servlet frontal de Spring MVC (Front Controller) -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Mapeo para que Spring controle todas las peticiones web -->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>





